# Testing Results

## DHT22 Test
PASS

## ADC Test
PASS

## Alarm Test
PASS
